{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<div id="home">
    <div class="page-wrapper">
        <div class="content-wrapper">
            {% include 'includes/header.html' %}

            <section id="welcome-banner" class="welcome-banner">
                <div class="bg-mask"
                        data-target="#welcome-banner"
                        data-center="opacity: 0;"
                        data--75p-top="opacity: 1;"
                        ></div>

                <img src="{% static 'img/banner.png' %}"
                        data-target="#welcome-banner"
                        data-100-top="opacity: 0.7;"
                        data--250-top="opacity: 0;"
                        >
                <h1 class="welcome"
                    data-target="#welcome-banner"
                    data-400-top="opacity: 1;"
                    data-100-top="opacity: 0;"
                    >
                    Welcome to the home of Darkest Ritual.</h1>

                <p class="blurb"
                        data-target="#welcome-banner"
                        data-500-top="opacity: 0.8;"
                        data--250-top="opacity: 0;">Darkest Ritual is a band that crosses the boundaries of many genres, taking something from each and blending the results into their own unique blend of progressive noises that rip and tear at your ears and mind.

                    <p class="scroll">Scroll down to learn more.</p>
                </p>
            </section>


            <main id="about"
                    data-bottom-top="background-position: 50% 10%"
                    data-top-bottom="background-position: 55% 15%">

                <span class="row bios"
                        data--2p-bottom="opacity: 0"
                        data-5p-center="opacity: 1">
                    <div class="bio-1 jason col-lg-6 col-sm-12">
                        <h2>Jason Schneider</h2>
                        Jason Schneider has been playing guitar and singing for as long as he can remember. Darkest Ritual came out of his love for music and creating. Now, Jason spends most of his days working as a software developer and spends his free time balancing between spending time with his wife and many pets (four cats, a greyhound, and a bearded dragon!), tending his magnificent garden of chili peppers, and of course, writing and recording new music for Darkest Ritual.
                    </div>

                    <div class="bio-2 andy col-lg-6 col-sm-12">
                        <h2>Andrew Weeks</h2>
                        Andrew Weeks has been playing bass for decades and has an incredible ear for fresh sounds.
                    </div>
                </span>

            </main>

            <script type="text/javascript">
                $( document ).ready(function() {
                    var s = skrollr.init({
                        forceHeight: false,
                    });
                });
            </script>
        </div>
    </div>
</div>
{% endblock %}