{% extends 'artisthub_base.html' %}
{% load staticfiles %}


{% block content %}
<div id="artisthub_home">
    <div class="page-wrapper">
        <div class="content-wrapper">
            {% include 'includes/artisthub_header.html' %}

            <section class="intro">
                <p>Welcome to the ArtistHub, a place where artists across genres come together to support each other's work, discuss art, music, and the world, and offer a support network of artists to other artists.</p>
            </section>

        </div>
    </div>
</div>

{% endblock %}