<!DOCTYPE html>
{% load staticfiles %}


<html>
<head>
    <title>ArtistHub :: By Darkest Ritual</title>

    <!--- scripts --->
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/skrollr.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--- stylesheets --->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>

<body>

{% block content %}

{% endblock %}

</body>
</html>