body {
    width: 100%;
    height: 100%;
    background-color: #000;
    -webkit-transition: .15s;
    transition: .15s;
}

a {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

#page-wrapper {
    max-width: 1920px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

header#page-header {
    background-color: #000;
    color: #acacac;
    position: fixed;
    z-index: 6666;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0.666;
    height: 70px;
}

ul.nav-options {
    list-style-type: none;
    width: 480px;
    padding: 0;
    margin: 30px auto;
}

ul.nav-options li {
    display: inline;
    margin: 0 30px;
}

ul.nav-options li:hover a {
    opacity: 0.66;
}

ul.nav-options li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #fff;
}

section.welcome-banner {
    position: relative;
    top: 70px;
    font-size: 20px;
    color: #fff;
    z-index: 666;
    background-color: #000;
    height: 100vh;
    max-height: 1200px;
    width: 100%;
    text-align: center;
    background: url('../img/cross.jpg') no-repeat 50% 50%;
}


p.blurb {
    text-align: left;
    width: 50%;
    position: relative;
    left: 0;
    right: 0;
    margin: 69px auto;
    opacity: 0.8;
}

section.welcome-banner img {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    height: 284px;
    opacity: 0.7;
}

#welcome-banner .bg-mask {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #000;
    opacity: 0;
}

main#about {
    color: #acacac;
    position: relative;
    z-index: 665;
    background: url('../img/paintings/three_oclock.jpg') no-repeat 0 0;
    background-size: 2038px 2560px;
    background-attachment: fixed;
    background-width: 100%;
    height: 1000px;
    max-width: 1920px;
    margin: 0 auto;
}

section#music-downloadable {
    color: #acacac;
    position: relative;
    z-index: 665;
    background: url('../img/paintings/the_eye.jpg') no-repeat 50% 50%;
    background-attachment: fixed;
    background-width: 100%;
    background-size: 2560px 1920px;
    max-height: 1920px;
    max-width: 1920px;
    margin: -64px auto;
}


section#music-downloadable-2 {
    background: url('../img/paintings/the_nexus.jpg') no-repeat 50% 50%;
    background-attachment: fixed;
    background-width: 100%;
    background-size: 2560px 1920px;
    color: #acacac;
    margin: -64px auto;
}

.music-downloadable {
    color: #acacac;
    position: relative;
    z-index: 664;
    max-height: 1920px;
    max-width: 1920px;
    margin: -136px auto;
}

main#visual-art {
    color: #acacac;
    position: relative;
    z-index: 665;
    background: url('../img/paintings/dancing_lights.jpg') no-repeat 50% 50%;
    background-attachment: fixed;
    background-width: 100%;
    background-size: 2560px 1920px;
    height: 1000px;
    max-width: 1920px;
    margin: 0 auto;
}

main#about .bios {
    width: 100%;
    display: inline;
    height: 600px;
    position: relative;
    top: 20%;
    margin-top: -100px;
}

main#about .bio-1 {
    background-color: #000;
    opacity: 0.666;
    color: #acacac;
    position: relative;
    float: left;
    margin: 8% 5% 0 10%;
    height: 500px;
    width: 35%;
    padding: 25px;
    border-radius: 15px;
}

main#about .bio-2 {
    background-color: #000;
    opacity: 0.666;
    color: #acacac;
    position: relative;
    float: left;
    margin: 8% 10% 0 5%;
    height: 500px;
    width: 35%;
    padding: 25px;
    border-radius: 15px;
}

p.scroll {
    margin-top: 20px;
}

/* Music */

h1.music-by,
h1.welcome,
h1.visual-art-by {
    margin-top: 100px;
}

.music-downloadable .album-wrapper{
    position: relative;
    display: block;
    width: 100%;
    min-height: 600px;
    margin-top: 8%;
    padding: 8%;
}

.music-downloadable .album-wrapper .album {
    background-color: #000;
    opacity: 0.9;
    filter: alpha(opacity=90);
    color: #acacac;
    position: relative;
    display: block;
    left: 50%;
    width: 70%;
    padding: 50px;
    border-radius: 15px;
    margin: 0 -35% 0;
}

.music-downloadable .album-wrapper .album .text-wrapper {
    text-align: left;
    padding: 25px;
    float: left;
}

.music-downloadable .album-wrapper .album .album-art {
    padding: 25px;
    left: 50px;
    float: left;
    text-align: left;
    position: relative;
}

.music-downloadable .album-wrapper .album .album-art .album-cover {
    width: 100%;
    position: relative;
    float: left;
    right: 50px;
}

.music-downloadable .album-wrapper .album .track-container {
    height: 100%;
    padding: 25px 0 0 38px;
    float: right;
    text-align: left;
    position: relative;
}

.music-downloadable .album-wrapper .album .track-list {
    height: 100%;
    padding: 25px 0;
    float: left;
    text-align: left;
}

.music-downloadable .album-wrapper .album .track-list li.track {
    list-style-type: none;
    text-align: left;
}

/* download buttons */

.btns {
    border: #e5e5e5 2px solid;
    color: #fff;
    background-color: transparent;
    position: relative;
    -webkit-transition: .15s;
    transition: .15s;
}

.btns:hover {
    border-color: #ffcc44;
    opacity: 0.85;
    filter: alpha(opacity=85);
    color: #ffcc44;
}

.btns.download {
    font-weight: 700;
    width: 75px;
    height: 75px;
    background: url('../img/icons/download.png') 50% 30% no-repeat;
    background-size: 40px 40px;
    float: left;
    margin: 50px 0 0 15px;
    left: -5px;
}

.btns.download:hover {
    background: url('../img/icons/download_hover.png') 50% 30% no-repeat;
    background-size: 40px 40px;

}

.btns.download p {
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* Visual */
